<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<div id="header-container" class="w3-blue w3-card-4">
  <div id="header">
    <div class="w3-display-container">
      <img src="images/qc-logo.png" alt="logo" id="logo"/>
      <div class="w3-display-middle w3-xxxlarge" id="logo-text">Quotes Central</div>
    </div>
  </div>
  <div id="nav" class="w3-bar">
    <a href="/" class="w3-button w3-bar-item">Search Quotes</a>
    <a href="add" class="w3-button w3-bar-item">Add a Quote</a>
    <!-- <a href="login" class="w3-button w3-bar-item">Login / Register</a> -->
  </div>
</div>