<div id="header">
	<!-- Logo goes here -->
</div>
<div id="nav" class="w3-bar w3-blue">
	<a href="" class="w3-button w3-bar-item">Search Quotes</a>
	<a href="add" class="w3-button w3-bar-item">Add a Quote</a>
	<a href="login" class="w3-button w3-bar-item">Login / Register</a>
</div>